flask==2.3.2
flask-cors==4.0.0
gunicorn==21.2.0
scikit-learn==1.3.2
langdetect==1.0.9
deep-translator==1.11.4
pytesseract==0.3.10
Pillow==10.0.1
moviepy==1.0.3
docx2txt==0.8
PyPDF2==3.0.1
openai-whisper==20231117
joblib==1.3.2
SpeechRecognition==3.10.0
gunicorn==21.2.0
